@import '../../App/Globals.scss';

.us-content {
    position: relative;
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

.two-bars {
    height: 80vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    & > div {
        font-weight: 300;
        background-color: $primaryColor;
        color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name {
            font-size: 1.2em;
        }
        p {
            margin: 0;
            padding: 4vh;
            font-size: 2.5vh;
            text-align: center;
        }
        div {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.logo {
    height: 15vh;
    width: auto;
}

.footer {
    font-size: 0.7em;
    width: 100%;
    text-align: center;
    position: absolute;
    height: auto;
    bottom: 0;
    margin: 0 8px 8px 8px;
}

.icons {
    width: 100%;
    a {
        img {
            height: 1.2em;
            margin: 0 0.2em;
            object-fit: cover;
        }
    }
}
