@import '../../App/App.scss';

.us-content {
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

.two-bars {
    height: 80vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    & > div {
        font-weight: 300;
        background-color: $primaryColor;
        color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name {
            font-size: 4vh;
        }
        p {
            margin: 0;
            padding: 4vh;
            font-size: 2.5vh;
            text-align: center;
        }
        div {
            width: 60%;
            display: flex;
            justify-content: space-between;
            img {
                height: 6vh;
            }
        }
    }
}

.logo {
    height: 30vh;
    width: auto;
}

.footer {
    width:100%;
    text-align: center;
    position: absolute;
    margin-top:93vh;
}
