section.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  margin-bottom: 70px;

  & > .person {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  & > .header {
    align-self: center;
  }
}
