.background {
  display: flex;
  flex: 1 0 auto;
  height: 100vh;
  transform: translateZ(-1px) scale(2.1);
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  & > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
