body,
html,
.content {
    height: 100%;
    width: 100%;
    margin: 0;
}

.section {
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.main,
.us,
.projects {
    background-image: url('./images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects {
    background-image: url('./images/projects.jpg');
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    z-index: -10;
}

.project-bg {
    height: 33.3vh;
    width: 100%;
    position: absolute;
    z-index: -10;
    overflow: hidden;
}

.project-bg img {
    position: absolute;
    z-index: -10;
    width: 100%;
    object-fit: contain;
    filter: blur(3px);
    transform: scale(1.1);
}

.project-title {
}

.project-logo {
    height: 20vh;
    width: 20vh;
    border-radius: 16px;
}

.project-logo--cardman {
    background-image: url('./images/projects/cardman-logo.png');
}

.project-logo--purifier {
    background-image: url('./images/projects/purifier-logo.png');
}

.project-logo--poznajmysie {
    background-image: url('./images/projects/poznajmysie-logo.png');
}

.us {
    background-image: url('./images/us.jpg');
}

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
}
