body,
html,
.content {
    height: 100%;
    width: 100%;
    margin: 0;
}

.section {
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.main,
.us,
.projects {
    height:100%;
    background-image: url('./images/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    padding-top:10vh;
}
.main-wrapper{
    height:48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.projects {
    background-image: url('./images/projects.jpg');
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.main-logo{
    height: 25vh;
}
.main-text{
    font-family: 'Roboto', sans-serif;
    font-size: 6vh;
    color:black;
}
.bottom-arrow{
    position: absolute;
    bottom:0;
    left:50%;
    height:3vh;
    transform: translateX(-50%);
    margin-bottom: 3vh;
}

.project-bg {
    background-size: contain;
    filter: blur(2px);
    height: 33vh;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.project--cardman {
    background-image: url('./images/projects/cardman.jpg');
}

.project--purifier {
    background-image: url('./images/projects/purifier.jpg');
}

.project--poznajmysie {
    background-image: url('./images/projects/poznajmysie.jpg');
}

.project-logo {
    height: 20vh;
    width: 20vh;
}

.project-logo--cardman {
    background-image: url('./images/projects/cardman-logo.png');
}

.project-logo--purifier {
    background-image: url('./images/projects/purifier-logo.png');
}

.project-logo--poznajmysie {
    background-image: url('./images/projects/poznajmysie-logo.png');
}

.us {
    background-image: url('./images/us.jpg');
}

::-webkit-scrollbar {
    display: none;
}
