@import "../Shared/Globals.scss";

.button {
  cursor: pointer;
}

.button-size1 {
  font-size: 5em;
}

.button-size2 {
  font-size: 4em;
}

.button-size3 {
  font-size: 3em;
}

.button-size4 {
  font-size: 2em;
}

.button-type-learn {
  border: none;
  color: $action;
  font-weight: 200;
  background: none;
}
