.text {
  font-size: 3em;
  margin: 0;
}

.text.text-size1 {
  font-size: 4em;
}

.text.text-size2 {
  font-size: 3em;
}

.text.text-size3 {
  font-size: 2em;
}

.text.text-size4 {
  font-size: 1.5em;
}

.text.text-size5 {
  font-size: 1.25em;
}

.text.text-size6 {
  font-size: 1em;
}

.text.text-weight-200 {
  font-weight: 200;
}

.text.text-weight-300 {
  font-weight: 300;
}

.text.text-weight-400 {
  font-weight: 400;
}

.text.text-weight-600 {
  font-weight: 600;
}

.text.text-weight-700 {
  font-weight: 700;
}
