$primaryColor: #242424;
$secondaryColor: #fff;
$primaryText: #fff;
$primaryBg: #1d1d1d;

$shadow_subtle: 0 6px 6px #00000061;
$shadowOffset: 10px;

$font-family: "Cairo", sans-serif;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cleanButton {
  border: none;
  background: none;
}

@mixin fontSizeTransition {
  transition: font-size ease-in-out 0.5s;
}

/* Project cards */
$card-width: 200px;
$card-height: 320px;
$card-vertical-spacing: 40px;
$flow-break-width: 768px;
