$shadow_subtle: 0 6px 6px #00000061;
$shadowOffset: 10px;

$font-family: "Cairo", sans-serif;

$white: #fffaff;
$action: #fe1c71;
$navbar-downsize-bg: #5f0f40;
$website-bg: linear-gradient(#9198e5, #e66465);
$person-bg: #f5e9e2;
$person-icon-filter: invert(23%) sepia(90%) saturate(4117%) hue-rotate(326deg)
  brightness(102%) contrast(55%);

$primaryColor: #242424;
$secondaryColor: #fff;
$primaryText: $white;
$primaryBg: #1d1d1d;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cleanButton {
  border: none;
  background: none;
}

@mixin fontSizeTransition {
  transition: font-size ease-in-out 0.5s;
}

@mixin borderWithShadow($color) {
  border: 1px solid $color;
  box-shadow: $color 0px 4px;
}

/* Project cards */
$card-width: 200px;
$card-height: 320px;
$card-vertical-spacing: 40px;
$flow-break-width: 768px;
