.MuiPaper-root {
  &.disabled {
    // display: ;
    .MuiCardMedia-root {
      filter: brightness(0.3);
    }
    button.MuiButton-textPrimary,
    button.MuiButton-textSecondary {
      opacity: 0.5;
      &:active,
      &:hover {
        cursor: default;
      }
    }
  }
}
