@import "../Shared/Globals.scss";

.card-wrapper {
  background-color: white;
  margin-right: 10em;
  width: 14vw;
  height: 40vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 0;
  }
}

.project-screenshot {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  background-color: black;
  transition: height 0.5s;
}

.project-title {
  margin-bottom: 2vh;
  * {
    white-space: nowrap;
    margin: 0;
  }
}

.project-info {
  position: relative;
  text-align: center;
  color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  & .header,
  & .text {
    color: black;
  }
}

.project-description {
  word-wrap: break-word;
  margin-bottom: 3vh;
}

.screenshot {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1600px) {
  .project-title {
    font-size: 1vh;
  }
  .project-description {
    font-size: 1vh;
  }
  button.button-type-learn {
    font-size: 2vh;
  }
}
