@import "../Globals.scss";

$link-color: rgb(9, 131, 187);
a {
  font-family: $font-family;
  margin-top: 2em;
  font-size: 1em;
  color: $link-color;
  text-transform: uppercase;
  &:hover {
    color: adjust-hue($link-color, 20deg);
  }
  span {
    box-shadow: $shadow_subtle;
    border-radius: 5px;
    padding: 0 1em;
    background-color: whitesmoke;
  }
}
