@import "../../Shared/Globals.scss";

section.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  margin-bottom: 70px;

  & > div {
    & .person {
      margin-bottom: 2em;
      border-top: solid rgba(51, 51, 51, 0.781) 1px;
      border-bottom: solid rgba(51, 51, 51, 1) 1px;
      box-shadow: rgba(51, 51, 51, 1) 0px 4px;
    }
    &:last-of-type .person {
      margin-bottom: 0;
    }
  }

  & > h2.header {
    align-self: center;
    @media (max-width: #{$flow-break-width}) {
      font-size: 3em;
    }
  }
}
