@import "../../Shared/Globals.scss";

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  height: 100%;

  h2.header {
    margin-top: 6vh;
    margin-bottom: 8vh;
  }

  @media (max-width: #{$flow-break-width}) {
    h2.header {
      font-size: 3em;
      margin-bottom: 20vh;
    }
  }

  div.container.contact {
    margin: 80px 0;
  }
}

.wrapper.us {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  @media (max-width: #{$flow-break-width}) {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10vw;
    width: auto;
  }
}

.person {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    &:nth-child(2) {
      text-align: center;
      max-width: 600px;
      margin-bottom: 8vh;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  .icons {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 6vh;
    }
  }
}

@media (max-width: #{$flow-break-width}) {
  .person {
    margin-top: 10vh;
    .text.text-size1 {
      font-size: 4vh;
    }
    .text.text-size3 {
      font-size: 3vh;
    }
    .text {
      &:nth-child(2) {
        margin-bottom: 2vh;
      }
    }
    .icons {
      width: 50vw;
      img {
        width: 5vh;
      }
    }
  }
}
