@import "./Globals.scss";

body {
  background-color: $secondaryColor;
  color: $primaryText;
  font-family: "Cairo", sans-serif;
}

html,
body,
.root {
  height: 100vh;
  width: 100vw;
}

.main {
  perspective: 8px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  overflow-x: hidden;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
