@import "./Globals.scss";

body {
  background-color: $secondaryColor;
  color: $primaryText;
  font-family: "Cairo", sans-serif;
}

html,
body,
.root {
  height: 100vh;
  width: 100vw;
}

.main {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
