@import "../Globals.scss";

.hero {
  color: $primaryText;
  font-size: 12vmin;
  text-shadow: 0 6px 6px #00000061;
  font-weight: 600;
  font-family: $font-family;
  text-align: center;
  padding: 0 40px;
  @include fontSizeTransition;

  @media (max-width: #{$flow-break-width}) {
    font-size: 4em;
  }
}
