@import "../Globals.scss";

.hero {
  color: #ffd700;
  font-size: 12vmin;
  text-shadow: 0 6px 6px #00000061;
  font-weight: 600;
  font-family: $font-family;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 20vh;
  @include fontSizeTransition;

  div.text-break {
    display: inline;
  }
  @media (max-width: #{$flow-break-width}) {
    font-size: 3em;
    div.text-break {
      display: block;
    }
  }
}
