$perspective: 1px;
$background-translateZ: -1px;
.parallax-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  perspective: $perspective;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .parallax-layer {
    position: absolute;
    right: 0;
    left: 0;

    $scale-factor: 1 + ($background-translateZ * -1) / $perspective;
    &.--background {
      transform: translateZ(-1px) scale($scale-factor);
      left: -10px; // compensate for scrollbar

      img {
        width: 100%;
        height: 200%;
        object-fit: cover;
      }
    }

    &.--foreground {
      transform: translateZ(0);
    }
  }
}
