@import '../../App/Globals.scss';

$bgColor: darken($primaryColor, 20%);
.vengel-button {
    position: relative;
    background-color: $primaryColor;
    border: none;
    font-size: 2.5vh;
    padding: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 0.5vh;

    &:hover {
        background-color: adjust-hue($primaryColor, 10);
    }

    .back {
        background-color: $bgColor;
        position: absolute;
        border: 0;
        border-bottom-right-radius: 0.5vh;
        z-index: -1;
        top: $shadowOffset;
        left: $shadowOffset;
        bottom: 0;
        right: 0;
        margin: 1px -1 * $shadowOffset -1 * $shadowOffset 1px;

        .bottom-left,
        .top-right {
            width: 0;
            height: 0;
            background-color: transparent;
            border-style: solid;
            border-width: $shadowOffset;
            position: absolute;
        }
        .bottom-left {
            left: -1 * $shadowOffset + 0px;
            bottom: -1 * $shadowOffset;
            border-color: $bgColor transparent transparent transparent;
        }

        .top-right {
            right: 0;
            top: -2 * $shadowOffset + 0px;
            border-color: transparent transparent $bgColor transparent;
        }
    }
}
