@import "../Shared/Globals.scss";

body {
  background-color: $secondaryColor;
  font-family: "Cairo", sans-serif;
}

html,
body,
.root {
  min-height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}
