@import '../../App/Globals.scss';

.welcome-content {
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 100;
    font-size: 15vh;
    text-align: center;

    .vengel-button {
        margin-top: 20vh;
        animation: fade-in;
        animation-duration: 1s;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
