@import "../Shared/Globals.scss";

.person {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  background-color: $person-bg;
  justify-content: space-between;
  padding-left: 60px;
  align-items: center;

  & .person-info {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    & .header,
    & .text {
      color: black;
    }
  }

  $icon-horizontal-spacing: 2em;
  & .person-icons {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    & > div {
      img {
        filter: $person-icon-filter;
      }
      margin-right: $icon-horizontal-spacing;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .person-img {
    align-self: stretch;
    width: 300px;
    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    }
  }

  &:nth-child(even) {
    & .person-img img {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media (max-width: #{$flow-break-width}) {
    flex-direction: column-reverse;
    padding: 0;
    .person-info {
      text-align: center;
      padding: 4em;
      align-items: center;
    }

    & .person-img {
      align-self: stretch;
      width: 100%;
      height: 300px;
      img {
        display: flex;
        width: 100%;
        object-position: right;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
      }
    }

    &:nth-child(even) {
      & .person-img img {
        object-position: left;
        transform: scaleX(-1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
        // clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
      }
    }
  }
}
