@import "../../Shared/Globals.scss";

section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: #{$flow-break-width}) {
    h2.header {
      font-size: 3em;
    }
  }

  .carousel {
    display: flex;
    margin: 70px 0;
    width: 100%;
    justify-content: space-evenly;
    padding: 120px 0;
    background-color: #0a122156;

    @media (max-width: #{$flow-break-width}) {
      flex-direction: column;
      align-items: center;
      & > div {
        margin: 0;
        margin-bottom: $card-vertical-spacing;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
